"*":
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "6362496e-5070-48cc-a56c-a13fb43693eb"
      analytics: false
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js: {}
    json: {}
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby:
      indent_size: 2
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-jshint": {}
  "atom-material-ui":
    colors:
      abaseColor:
        red: 96
        green: 125
        blue: 139
        alpha: 1
      predefinedColor: "Blue Grey"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      animations: false
      panelContrast: true
      panelShadows: true
  "autocomplete-plus": {}
  "base16-syntax":
    scheme: "Bright"
  core:
    disabledPackages: [
      "linter-rubocop"
    ]
    excludeVcsIgnoredPaths: false
    themes: [
      "atom-material-ui"
      "gruvbox-plus-syntax"
    ]
  "disable-keybindings":
    prefixKeys: [
      "ctrl-tab"
      "ctrl-shift-tab"
    ]
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 250
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "cfee8202-a210-26a4-9f0e-36a5c4a87f38"
  "file-icons":
    forceShow: true
  fonts:
    fontFamily: "Ubuntu Mono"
  "fuzzy-finder": {}
  "gruvbox-plus-syntax":
    contrast: "Hard"
  "highlight-line": {}
  jshint:
    supportLintingJsx: true
  linter:
    showErrorPanel: false
    showErrorTabLine: true
  "linter-rubocop":
    command: "/Users/iannguyen/.rbenv/shims/rubocop"
  minimap:
    scrollAnimation: true
  react: {}
  "seti-ui":
    compactView: true
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndent: true
