practice:
  title: "Practice"
  paths: [
    "/Users/AIUN-MBP/Desktop/Code/practice"
  ]
notes:
  title: "Notes"
  paths: [
    "/Users/AIUN-MBP/Desktop/Code/notes"
  ]
gospot:
  title: "GOSpot"
  paths: [
    "/Users/AIUN-MBP/Desktop/Code/portfolio/gospot"
  ]
"iannguyen.io":
  title: "iannguyen.io"
  paths: [
    "/Users/AIUN-MBP/Desktop/Code/portfolio/iannguyen.github.io"
  ]
challenges:
  title: "challenges"
  paths: [
    "/Users/AIUN-MBP/Desktop/Code/challenges"
  ]
